.portfolio{
    //width: 100%;
    display: flex;
    justify-content: space-between;

    @include respond(phone){
        flex-direction: column;
    }

    &__box{
        width: 30%;
        border: 1px solid #e5e7eb;
        height: 15rem;
        position: relative;

        @include respond(phone){
            width: 90%;
        }
    }

    &__image{
        width: 60%;
        display: block;
        margin: auto;
        position: relative;
        top: 20%;

        
    }

    &--one{
        margin-bottom: 5rem;
    }
}