.u-margin-bottom-small{
    margin-bottom: 1rem;
}

.u-margin-bottom{
    margin-bottom: 10rem;
}

.u-margin-bottom-medium{
    margin-bottom: 3rem;
}

.margin-auto{
    margin: 0 auto;
}

.u-center{
    text-align: center;
}

.border-bottom{
    border-bottom: 1px solid#323234;
    padding-bottom: 5rem;
}